<% content_for :title do %>Development status<% end %>
<script type='text/javascript'> $(function() { Dashing.gridsterLayout('[{"col":10,"row":1,"size_x":5,"size_y":5},{"col":1,"row":1,"size_x":1,"size_y":2},{"col":2,"row":1,"size_x":4,"size_y":2},{"col":6,"row":1,"size_x":4,"size_y":2},{"col":1,"row":3,"size_x":1,"size_y":2},{"col":2,"row":3,"size_x":4,"size_y":2},{"col":6,"row":3,"size_x":4,"size_y":2},{"col":1,"row":5,"size_x":1,"size_y":2},{"col":2,"row":7,"size_x":4,"size_y":2},{"col":2,"row":5,"size_x":4,"size_y":2},{"col":6,"row":7,"size_x":4,"size_y":2},{"col":6,"row":5,"size_x":4,"size_y":2}]') }); </script>
<div class="gridster">
  <ul>


<li data-row="11" data-col="1" data-sizex="6" data-sizey="8">
  <div data-view="PullRequests" data-id="pulls"></div>
</li>

  	<li data-row="5" data-col="1" data-sizex="1" data-sizey="2" class="gs_w divider-holder">
  		<div class="divider-title">
  			API
  		</div>
  	</li>
    <li data-row="5" data-col="2" data-sizex="4" data-sizey="2">
      <div data-id="MS-IN" data-view="BambooBuild" data-title="Integration"></div>
  	</li>
  	<li data-row="5" data-col="6" data-sizex="4" data-sizey="2">
      <div data-id="MS-MSDEV" data-view="BambooBuild" data-title="Development"></div>
  	</li>
  	<li data-row="7" data-col="1" data-sizex="1" data-sizey="2" class="gs_w">
  	</li>
  	<li data-row="5" data-col="10" data-sizex="4" data-sizey="2">
      <div data-id="MS-ANDROID" data-view="BambooBuild" data-title="Android"></div>
  	</li>
  	<li data-row="5" data-col="14" data-sizex="4" data-sizey="2">
      <div data-id="MS-IOS" data-view="BambooBuild" data-title="iOS"></div>
  	</li>

  	<li data-row="7" data-col="1" data-sizex="1" data-sizey="2" class="gs_w divider-holder">
  		<div class="divider-title">
  			SDK
  		</div>
  	</li>
    <li data-row="7" data-col="2" data-sizex="4" data-sizey="2">
      <div data-id="MSDK-MCC" data-view="BambooBuild" data-title="Call Credit"></div>
  	</li>
  	<li data-row="7" data-col="6" data-sizex="4" data-sizey="2">
      <div data-id="MSDK-MEP" data-view="BambooBuild" data-title="Earhport"></div>
  	</li>
  	<li data-row="7" data-col="10" data-sizex="4" data-sizey="2">
      <div data-id="MSDK-MTCC" data-view="BambooBuild" data-title="The Currency Cloud"></div>
  	</li>
  	<li data-row="7" data-col="14" data-sizex="4" data-sizey="2">
      <div data-id="MSDK-MHS" data-view="BambooBuild" data-title="HomeSend"></div>
  	</li>

  	

  </ul>
</div>